<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/node/new">New Node</a>
    <a href="/node/all">All</a>
    <a href="/properties/new">New Property</a>
    <p>Welcome to <%= title %></p>
  </body>
</html>

